{% if pagination %}
<div class="c-pagination">

    <ul class="c-pagination__list o-list-inline">
      {% if pagination.prev %}
        <li class="c-pagination__item--prev o-list-inline__item">
          <a class="c-btn c-btn--primary c-btn--small c-pagination__link" href="{{pagination.prev.link}}">Prev</a>
        </li>
      {% endif %}

      {% for page in pagination.pages %}
        <li class="c-pagination__item o-list-inline__item">
          {% if page.link %}
            <a class="c-pagination__link" href="{{page.link}}" class="{{page.class}}">{{page.title}}</a>
          {% else %}
            <span class="c-pagination__no-link" class="{{page.class}}">{{page.title}}</span>
          {% endif %}
        </li>
      {% endfor %}

      {% if pagination.next %}
        <li class="c-pagination__item--next o-list-inline__item">
          <a class="c-btn c-btn--primary c-btn--small c-pagination__link" href="{{pagination.next.link}}">Next</a>
        </li>
      {% endif %}
    </ul>

</div>
{% endif %}
