{% block html_head_container %}

{% include 'html-header.twig' %}
	{% block head %}
	{% endblock %}
	</head>
{% endblock %}

	<body class="{{body_class}}" data-template="base.twig">

    {% include 'site-header.twig' %}

		<section id="barba-wrapper" role="main">
      <div class="barba-container">

  			{% if title %}
          <div class="o-wrapper">
            <h1>{{ title }}</h1>
          </div>
        {% endif %}

  			<div class="wrapper {{sidebar_class}}">
  				{% block content %}
  					<p>Sorry, no content. I don't know what happened. I'm so sorry.</p>
  				{% endblock %}
  			</div>

  			{% if sidebar %}
  				<aside class="layout-sidebar">
  					{{ sidebar }}
  				</aside>
  			{% endif %}
      </div>
		</section>

		{% block footer %}
			<footer id="footer">
				{% include 'footer.twig' %}
			</footer>
			{{ function('wp_footer') }}
		{% endblock %}

    {#<script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.6.0/prism.min.js" defer></script>#}
    <script src="{{ 'assets/js/main.js' | mix }}" defer></script>
	</body>
</html>
