<div>
    <h3>Add comment</h3>

    <form id="form" class="c-form" method="post" action="{{ site.url~'/wp-comments-post.php' }}">

      <div class="c-form__group">
        <label for="email">Email</label>
        <input required name="email" type="text" id="email" {% if user %}value="{{ user.email }}"{% endif %}>
      </div>

      <div class="c-form__group">
        <label for="author">Username</label>
        <input required name="author" type="text" id="author" {% if user %}value="{{ user.name }}"{% endif %}>
      </div>

      <div class="c-form__group">
        <label for="url">Url</label>
        <input name="url" id="url" type="text" {% if user %}value="{{ user.link }}"{% endif %}>
      </div>

      <div class="c-form__group">
        <label for="comment">Comment</label>
        <textarea name="comment" cols="60" rows="3" id="comment"></textarea>
      </div>

      <input name="comment_post_ID" value="{{ post.id }}" id="comment_post_ID" type="hidden">
      <input name="comment_parent" id="comment_parent" value="{{ comment.ID|default('0') }}" type="hidden">

      <div class="c-form__group">
        <button type="submit" name="Submit" class="c-btn c-btn--primary">Comment</button>
      </div>

      <p>Your comment will be need to be approved before showing here. It's nothing personal &mdash; I'm sure you're one of the nice ones.</p>
    </form>
</div>
