<!doctype html>
<html {{ site.language_attributes }}>
<head>
  <meta charset="{{ site.charset }}">
  <title>
      {% if wp_title %}
          {{ wp_title }} - {{ site.name }}
      {% else %}
          {{ site.name }}
      {% endif %}
  </title>
  <meta name="description" content="{{ site.description }}">

  <link rel="stylesheet" href="{{ 'assets/css/main.css' | mix }}">
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="pingback" href="{{ site.pingback_url }}">

  <script>
    (function (doc) {
      let page = doc.querySelector('html');

      page.classList.remove('no-js');
      page.classList.add('js');
    })(document);
  </script>

  <script>
    WebFontConfig = {
      google: { families: ['Open Sans'] }
    };

    (function(d) {
      var wf = d.createElement('script'), s = d.scripts[0];
      wf.src = 'https://ajax.googleapis.com/ajax/libs/webfont/1.6.26/webfont.js';
      wf.async = true;
      s.parentNode.insertBefore(wf, s);
    })(document);
  </script>

  {{ function('wp_head') }}
