<!doctype html>
<html {{ site.language_attributes }}>
<head>
  <meta charset="{{ site.charset }}">
  <title>
    {% if wp_title %}
      {{ wp_title }} - {{ site.name }}
    {% else %}
      {{ site.name }}
    {% endif %}
  </title>
  <meta name="description" content="{{ site.description }}">

  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="pingback" href="{{ site.pingback_url }}">

  <link rel="preconnect" href="https://fonts.google.com/" crossorigin>

  <link rel="preload" href="{{ 'assets/css/main.css' | mix }}" as="style" onload="this.rel='stylesheet'">

  <noscript>
    <link rel="stylesheet" href="{{ 'assets/css/main.css' | mix }}">
  </noscript>

  {% include 'load-css.twig' %}

  <style>
    /* try prevent FOUT */
    /*html {
      transition: opacity ease 0.2s;
      opacity: 0;
    }

    .wf-active,
    .wf-inactive,
    .no-js {
      opacity: 1;
    }*/
  </style>

  <script>
    (function (doc) {
      var page = doc.querySelector('html');
      page.classList.remove('no-js');
      page.classList.add('js');

      if (sessionStorage.fonts) {
        doc.documentElement.classList.add('wf-active');
      }
    })(document);

    WebFontConfig = {
      google: {
        families: ['Libre Baskerville', 'Raleway']
      },
      active: function() {
        sessionStorage.fonts = true;
      }
    };

    (function(d) {
      var wf = d.createElement('script'), s = d.scripts[0];
      wf.src = 'https://ajax.googleapis.com/ajax/libs/webfont/1.6.26/webfont.js';
      wf.async = true;
      s.parentNode.insertBefore(wf, s);
    })(document);
  </script>

  {{ function('wp_head') }}
