{% extends "base.twig" %}

{% block content %}
  <div class="o-wrapper">

    <ul class="o-list-bare">
    	{% for post in posts %}
    		<li>{% include ['tease-'~post.post_type~'.twig', 'tease.twig'] %}</li>
    	{% endfor %}
    </ul>

    <div class="c-pagination">
      {% if pagination.prev %}
        <a class="c-pagination__prev c-pagination__link" href="{{pagination.prev.link}}">Prev</a>
        {% endif %}

        <ul class="c-pagination__list">
          {% for page in pagination.pages %}
            <li class="c-pagination__item">
              {% if page.link %}
                <a class="c-pagination__link" href="{{page.link}}" class="{{page.class}}">{{page.title}}</a>
              {% else %}
                <span class="c-pagination__no-link" class="{{page.class}}">{{page.title}}</span>
              {% endif %}
            </li>
          {% endfor %}
        </ul>

        {% if pagination.next %}
          <a class="c-pagination__link c-pagination__link" href="{{pagination.next.link}}">Next</a>
        {% endif %}
    </div>
  </div>
{% endblock %}
