{% extends 'tease.twig' %}

{% block content %}
	<h2 class="c-post__title">
    <a class="c-post__title-link" href="{{post.link}}">
      {{ post.title }}
    </a>
  </h2>

  <div class="c-post__body">
    <p>{{ post.post_content | excerpt(25) }}</p>

    <a class="c-btn c-btn--primary" href="{{ post.link }}">Read More</a>
  </div>

	{% if post.thumbnail.src %}
		<img src="{{ post.thumbnail.src }}" class="c-post__featured-image">
	{% endif %}
{% endblock %}
